.button-auth {
    background-color: #fff0 !important;
    border: none !important;
}
.header__top__right__auth .header__top__right__language:after{
    opacity: 0 !important;
}
.header__top__right__auth .header__top__right__language ul{
    width: 110px;
}
.header__top__right__cart{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 !important;
}
.header__cart .header__top__right__cart:after{
    opacity: 0 !important;
}
.view-cart{
    width: 100%;
    margin: 0;
    background-color: #E53935;
    text-align: center;
    padding: 5px;
}
.view-cart a{
    color: #fff;
}
.img-object-fit{
    object-fit: cover;
    width: 50px;
    height: 220px;
}
